<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learn How To Learn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="discription" content="Learning Website">
    <meta name="author" content="Karim, Mazen, Miar, George, Abdellruhman" />
    <meta name="revised" content="Tuesday, December 20th, 2022, 11:15 am" />
    <link rel="stylesheet" href="../../CSS/master.css">
    <!-- Master CSS -->
    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../CSS/all.css">
    <!-- Fontawesome library -->
</head>

<body>
    <div class="container-nav">
        <ul>
            <li class="nav-logo"><a href="../../index.html"><i class="fa-solid fa-book-open"
                        style="color: orangered; margin-right: 5px;"></i> Learn how to learn</a></li>
            <li class="nav-list ms-auto"><a href="../../Components/Home.html">Home</a></li>
            <li class="nav-list"><a href="../../Components/About.html">About</a></li>
            <li class="nav-list"><a href="../../Components/Services.html">services</a></li>
            <li class="nav-list"><a href="../../Components/Tracks.html">Tracks</a></li>
            <li class="nav-list"><a href="../../Components/Contact.html">contacts</a></li>
        </ul>
    </div>
    <section class="container-about">
        <h4>Dart </h4>
    </section>
    <section class="container-fluid">
        <section class="web d-flex mb-5">
            <div class="left" style="width: 60%;">
                <h3 style="color: orangered;">
                    - What is Dart ?
                </h3>
                <p class="container-fluid" style="font-size: 18px;">
                    Dart is an open source, multi-purpose programming language that supports<br> object-oriented programming (OOP). Google developed this language and <br> launched the first version of it in 2011 AD, and the aim of this language <br>                    was to provide a means through which one can write one code that works on <br> multiple platforms Cross-Platform Language, the code written in this language <br> can work on the web, the Android system, the Android system ios without
                    the need <br> to rewrite or make any changes to the code <br> The language was influenced by the way its codes were written "Syntax" in several <br> languages, but it is closer to the method of the C language as well as the Java <br>                    language, and the developers of the language tried to design it to replace the <br> JavaScript language to create applications on the client side Apps, but they <br> could not excel in this The point, but its compatibility with the
                    JavaScript <br> language made it easy to integrate and compile within the language codes, so that <br> it can be used to write optimized JavaScript code compatible with web browsers</p>
            </div>
            <div class="right" style="width: 40%; height: 430px; background-image: url(../../images/dart2.jpg); background-repeat: no-repeat; background-size: contain;">
            </div>
        </section>



        <section class="container-fluid">
            <section class="web d-flex mb-5">
                <div class="left" style="width: 60%;">
                    <h3 style="color: orangered;">
                        - why Dart ?
                    </h3>
                    <p class="container-fluid" style="font-size: 18px;">
                        Easy to learn.
                        <br> Flexible and open source language.
                        <br> Multi-platform language supported by Google.
                        <br> A programming language for any programmer, whether you are a mobile application <br> developer, web developer, or desktop application developer, the language is useful. <br> Dart language There is only one thing that gives
                        you a wrong result and that is the wrong. <br> Dart tools can report two types of problems, alerts and errors. <br> The ability of the Dart language to infer which types of writing are used.
                        <br> Dart supports general and universal type writing or programming.
                        <br> With Dart, you can develop applications that run on the web.
                        <br> Dart language does not require you to learn any language in advance in order to master it.
                        <br> Dart enables you to run Android and iOS applications with the same code. <br> Dart has one of the most powerful and smartest programming editors with debugging support. </p>
                </div>


            </section>













            <br>
            <h4 style="color: orangered;">Courses </h4>
            <section class="container-fluid d-flex" style="height: 600px;">
                <div class="left" style="width: 33.3%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/youtube.png" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">SmartTheard <br> <br></h5>
                                    <p class="card-text">
                                        Dart Programming from scratch by Google Prepare yourself for Flutter apps for Android and iOS and developing Web apps</p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://youtube.com/playlist?list=PLlxmoA0rQ-LyHW9voBdNo4gEEIh0SjG-q  ">View Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="left" style="width: 33.3%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/Udemy.png" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">Hassan Fulih <br> <br> <br> Full Course</h5>
                                    <p class="card-text">
                                        The Complete Dart Learning Guide </p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://www.udemy.com/share/101OrD3@mor2ErP-CPker5Wf5-7wCGVAwhFymk5UnbaIWOvqsLHsHRH353iBXOqGSaGHHxUpSQ==/ ">View Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left" style="width: 33.3%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/youtube-2617510.jpg" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">Tutorial <br> <br> </h5>
                                    <p class="card-text">
                                        Learn how to build high quality Apps create stunning user experiences for Mobile Application.</p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://youtu.be/F3JuuYuOUK4 ">View Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>




            <h4 style="color: orangered;">RoadMap</h4>

            <ol>
                <li>Basics : </li>
                <ul>
                    <li>Data Types</li>
                    <li>Decision making</li>
                    <li>Loops</li>
                </ul>
                <li> Collections and array : </li>
                <ul>
                    <li>lists</li>
                    <li>Maps</li>
                    <li>functions</li>
                    <li>recursive Functions</li>
                </ul>

                <li> oop : </li>
                <ul>
                    <li>Object && classes</li>
                    <li>Encapsulation</li>
                    <li>Polymorphism</li>
                    <li>Interfaces</li>
                    <li>Inheritance</li>
                    <li>abstract & interface</li>
                    <li>enum class</li>
                    <li>Generic class</li>
                    <li>error Handling</li>
                </ul>
            </ol>

            <h4 style="color: orangered;">Books </h4>
            <section class="container-fluid d-flex" style="height: 600px;">
                <div class="left" style="width: 100%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/dart.png" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">Learn dart</h5>
                                    <p class="card-text">
                                        Introduction to Dart</p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://dart.dev/resources/books">View Book</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </section>

            <h4 style="color: orangered;">How to write code (IDE)</h4>
            <section class="container-fluid d-flex" style="height: 600px;">
                <div class="left" style="width: 50%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/vs code.jpg" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">VS Code</h5>
                                    <p class="card-text">
                                        visual studio code </p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="VS code: https://code.visualstudio.com/download">Download IDE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="left" style="width: 50%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/ands.png" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">Android Studio </h5>
                                    <p class="card-text">
                                        With focused visual tools and preprocessor support. </p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://developer.android.com/studio?gclid=CjwKCAiAhqCdBhB0EiwAH8M_GmmL7pSrDhj1BZX4q6a8h62cn11zlAscJaHEW8pxKR5pF6Jq-J4kMBoCW7QQAvD_BwE&gclsrc=aw.ds">Download IDE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>




        <!-- start footer -->
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-dark text-white">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fa-solid fa-book-open" style="color: orangered; margin-right: 5px;"></i>Learn How to learn
                            </h6>
                            <p>
                                Online School To Help Beginner Student To Study And Know More About Programming And Some Technologies You Can Find many ways to learn.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Content
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Decomentations</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Links</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Videos</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Books</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Useful links
                            </h6>
                            <p>
                                <a href="https://www.w3schools.com/" class="text-reset">W3School</a>
                            </p>
                            <p>
                                <a href="https://www.udemy.com/" class="text-reset">Udemy</a>
                            </p>
                            <p>
                                <a href="https://www.coursera.org/" class="text-reset">coursera</a>
                            </p>
                            <p>
                                <a href="https://www.udacity.com/" class="text-reset">udacity</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="fas fa-home me-3 text-secondary"></i> Egypt, Cairo, EG</p>
                            <p>
                                <i class="fas fa-envelope me-3 text-secondary"></i> Learning@gmail.com
                            </p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="../../index.html">Learn how to learn</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        <!-- end footer -->

        <script src="../../JS/main.js"></script>
        <script src="../../JS/bootstrap.js"></script>
        <script src="../../JS/all.js"></script>
</body>

</html>