<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learn How To Learn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="discription" content="Learning Website">
    <meta name="author" content="Karim, Mazen, Miar, George, Abdellruhman" />
    <meta name="revised" content="Tuesday, December 20th, 2022, 11:15 am" />
    <link rel="stylesheet" href="../../CSS/master.css">
    <!-- Master CSS -->
    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../CSS/all.css">
    <!-- Fontawesome library -->
</head>

<body>
    <div class="container-nav">
        <ul>
            <li class="nav-logo"><a href="../../index.html"><i class="fa-solid fa-book-open"
                        style="color: orangered; margin-right: 5px;"></i> Learn how to learn</a></li>
            <li class="nav-list ms-auto"><a href="../../Components/Home.html">Home</a></li>
            <li class="nav-list"><a href="../../Components/About.html">About</a></li>
            <li class="nav-list"><a href="../../Components/Services.html">services</a></li>
            <li class="nav-list"><a href="../../Components/Tracks.html">Tracks</a></li>
            <li class="nav-list"><a href="../../Components/Contact.html">contacts</a></li>
        </ul>
    </div>
    <section class="container-about">
        <h4>Swift </h4>
    </section>
    <section class="container-fluid">
        <section class="web d-flex mb-5">
            <div class="left" style="width: 60%;">
                <h3 style="color: orangered;">
                    - What is Swift ?
                </h3>
                <p class="container-fluid" style="font-size: 18px;">
                    The Swift language saves business execution time, unchanged files are recompiled <br> . Codecs in the Swift language are relatively small <br> . The possibility of replacing parts of the application code using the <br> Objective-C
                    programming language to the Swift language <br> Swift has a very good memory <br> Swift provides easy-to-understand symbols with a neater appearance, which helps with readability <br> . Unlike the Objective-C programming language,
                    Swift allows interaction with running applications
            </div>
            <div class="right" style="width: 40%; height: 430px; background-image: url(../../images/swift.jpeg); background-repeat: no-repeat; background-size: contain;">
            </div>
        </section>



        <section class="container-fluid">
            <section class="web d-flex mb-5">
                <div class="left" style="width: 60%;">
                    <h3 style="color: orangered;">
                        - DisAdvantages of Swift ?
                    </h3>
                    <p class="container-fluid" style="font-size: 18px;">
                        The Swift programming language is a very young language, and therefore it has <br> not been used primarily in programming <br> . Swift is a very unstable language, programmers cannot use this new language to modify programs, <br>                        they have to rewrite the entire code <br> . Despite Apple's hard work to make Swift easy and fun, many programmers are not willing to <br> learn a new programming language. <br> . Swift is still not well suited to help programmers
                        choose tools that help with certain tasks, <br> and many of its users have reported a lot of bugs and issues. <br> . Swift is not supported by operating systems prior to iOS7, and therefore cannot be used to develop <br> software
                        for older operating systems. </p>
                </div>


            </section>













            <br>
            <h4 style="color: orangered;">Courses </h4>
            <section class="container-fluid d-flex" style="height: 600px;">
                <div class="left" style="width: 33.3%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/youtube.png" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">Bamberg <br><br></h5>
                                    <p class="card-text">
                                        Swift Programming by Apple Prepare yourself for Swift apps for iOS and developing Mobile apps</p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://youtube.com/playlist?list=PLQaOY10EEc8bNbEBMyiJU1I-GIgs1LQfj ">View Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="left" style="width: 33.3%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/Udemy.png" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">Angela <br> free Course </h5>
                                    <p class="card-text">
                                        iOS & Swift - The Complete iOS App Development Bootcamp <br> with Angela </p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://www.udemy.com/share/101WsW3@k6VerL5JEPyoKCo7WifkhS7Ry3psfJD4uokuaMTozcxkGNDCr7j6ZA0IUBchUUCMFQ==/ ">View Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left" style="width: 33.3%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/youtube-2617510.jpg" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">Code With Chris <br> <br> </h5>
                                    <p class="card-text">
                                        building Swift Apps IOS And Developing Mobile Apps IOS For Apple OS </p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://youtu.be/Ulp1Kimblg0 ">View Course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>




            <h4 style="color: orangered;">RoadMap</h4>

            <ol>
                <li>Basics : </li>
                <ul>
                    <li>Data Types</li>
                    <li>Decision making</li>
                    <li>Loops</li>
                </ul>
                <li> Collections and array : </li>
                <ul>
                    <li>lists</li>
                    <li>Maps</li>
                    <li>functions</li>
                    <li>recursive Functions</li>
                </ul>

                <li> oop : </li>
                <ul>
                    <li>Object && classes</li>
                    <li>Encapsulation</li>
                    <li>Polymorphism</li>
                    <li>Interfaces</li>
                    <li>Inheritance</li>
                    <li>abstract & interface</li>
                    <li>enum class</li>
                    <li>Generic class</li>
                    <li>error Handling</li>
                </ul>
            </ol>

            <h4 style="color: orangered;">Books </h4>
            <section class="container-fluid d-flex" style="height: 600px;">
                <div class="left" style="width: 100%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/swift2.jpeg" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">Learn Swift Ui</h5>
                                    <p class="card-text">
                                        SwiftUI for Masterminds 3rd Edition </p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://www.amazon.com/SwiftUI-Masterminds-3rd-2022-advantage/dp/177797822X/ref=zg_bs_11006483011_sccl_2/132-0920880-0904214?psc=1">View Book</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </section>

            <h4 style="color: orangered;">How to write code (IDE)</h4>
            <section class="container-fluid d-flex" style="height: 600px;">
                <div class="left" style="width: 50%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/vs code.jpg" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">VS Code</h5>
                                    <p class="card-text">
                                        visual studio code <br> make you to write code to swift </p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="VS code: https://code.visualstudio.com/download">Download IDE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="left" style="width: 50%;">
                    <br>
                    <div class="container d-flex justify-content-center">
                        <div class="justify-content-center">
                            <div class="card col-5 mb-4" style="width: 20rem;">
                                <img src="../../images/xcode.jpeg" class="card-img-top" height="250px">
                                <div class="card-body">
                                    <h5 class="card-title">xcode </h5>
                                    <p class="card-text">
                                        With focused visual tools and preprocessor support. </p>
                                    <div style="text-align: center;">
                                        <a class="track-btn" href="https://developer.apple.com/xcode/">Download IDE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>




        <!-- start footer -->
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-dark text-white">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fa-solid fa-book-open" style="color: orangered; margin-right: 5px;"></i>Learn How to learn
                            </h6>
                            <p>
                                Online School To Help Beginner Student To Study And Know More About Programming And Some Technologies You Can Find many ways to learn.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Content
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Decomentations</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Links</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Videos</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Books</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Useful links
                            </h6>
                            <p>
                                <a href="https://www.w3schools.com/" class="text-reset">W3School</a>
                            </p>
                            <p>
                                <a href="https://www.udemy.com/" class="text-reset">Udemy</a>
                            </p>
                            <p>
                                <a href="https://www.coursera.org/" class="text-reset">coursera</a>
                            </p>
                            <p>
                                <a href="https://www.udacity.com/" class="text-reset">udacity</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="fas fa-home me-3 text-secondary"></i> Egypt, Cairo, EG</p>
                            <p>
                                <i class="fas fa-envelope me-3 text-secondary"></i> Learning@gmail.com
                            </p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="../../index.html">Learn how to learn</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        <!-- end footer -->

        <script src="../../JS/main.js"></script>
        <script src="../../JS/bootstrap.js"></script>
        <script src="../../JS/all.js"></script>
</body>

</html>