<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learn How To Learn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="discription" content="Learning Website">
    <meta name="author" content="Karim, Mazen, Miar, George, Abdellruhman" />
    <meta name="revised" content="Tuesday, December 20th, 2022, 11:15 am" />
    <link rel="stylesheet" href="../../CSS/master.css">
    <!-- Master CSS -->
    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../CSS/all.css">
    <!-- Fontawesome library -->
</head>

<body>
    <div class="container-nav">
        <ul>
            <li class="nav-logo"><a href="../../index.html"><i class="fa-solid fa-book-open"
                        style="color: orangered; margin-right: 5px;"></i> Learn how to learn</a></li>
            <li class="nav-list ms-auto"><a href="../../Components/Home.html">Home</a></li>
            <li class="nav-list"><a href="../../Components/About.html">About</a></li>
            <li class="nav-list"><a href="../../Components/Services.html">services</a></li>
            <li class="nav-list"><a href="../../Components/Tracks.html">Tracks</a></li>
            <li class="nav-list"><a href="../../Components/Contact.html">contacts</a></li>
        </ul>
    </div>
    <section class="container-about">
        <h4>Back-End Development </h4>
    </section>
    <section class="container-fluid">
        <section class="web d-flex mb-5">
            <div class="left" style="width: 60%;">
                <h3 style="color: orangered;">
                    - What Is a Back-End Developer?
                </h3>
                <p class="container-fluid" style="font-size: 18px;">
                    - The back end refers to parts of a computer application or a program's code that allow it to operate and that cannot be accessed by a user. Most data and operating syntax are stored and accessed in the back end of a computer system. Typically the code
                    is comprised of one or more programming languages. The back end is also called the data access layer of software or hardware and includes any functionality that needs to be accessed and navigated to by digital means.
                    <br> - requirement knowledge <br> - decomntation <br> - links YouTube <br> - links qithup <br> - books <br> - What's Next

                </p>
            </div>
            <div class="right" style="width: 40%; background-image: url(../../images/Back-End-Developer.png); background-repeat: no-repeat ;  background-size: contain;">
            </div>
            <br>

        </section>
        <h4 style="color: orangered;">Programing language </h4>
        <section class="container-fluid d-flex" style="height: 600px;">
            <div class="left" style="width: 33.3%;">
                <h4 style="color: orangered;">PHP</h4>
                <p>
                    PHP code is executed on the server.
                    <br><br>
                </p>
                <div class="container d-flex justify-content-center">
                    <div class="justify-content-center">
                        <div class="card col-5 mb-4" style="width: 20rem;">
                            <img src="../../images/php back.jpg" class="card-img-top" height="250px">
                            <div class="card-body">
                                <h5 class="card-title">PHP</h5>
                                <p class="card-text">
                                    We will provide you with the best courses in educational platforms.</p>
                                <div style="text-align: center;">
                                    <a class="track-btn" href="../../Components/Programming Languages/PHP.html">View Track</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="left" style="width: 33.3%;">
                <h4 style="color: orangered;">Python</h4>
                <p>
                    Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
                    <br><br>
                </p>
                <div class="container d-flex justify-content-center">
                    <div class="justify-content-center">
                        <div class="card col-5 mb-4" style="width: 20rem;">
                            <img src="../../images/Python back.png" class="card-img-top" height="250px">
                            <div class="card-body">
                                <h5 class="card-title">Python</h5>
                                <p class="card-text">
                                    We will provide you with the best courses in educational platforms.</p>
                                <div style="text-align: center;">
                                    <a class="track-btn" href="../../Components/Programming Languages/Python.html">View Track</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right" style="width: 33.3%;">
                <h4 style="color: orangered;">
                    JavaScript
                </h4>
                <p>
                    JavaScript is a high-level, often just-in-time compiled
                    <br> language that conforms to the ECMAScript standard.
                </p>
                <div class="container d-flex justify-content-center">
                    <div class="justify-content-center">
                        <div class="card col-5 mb-4 " style="width: 20rem;">
                            <img src="../../images/java script.jpg" class="card-img-top" height="250px">
                            <div class="card-body">
                                <h5 class="card-title">JavaScript</h5>
                                <p class="card-text">
                                    We will provide you with best books and books in all tracks.</p>
                                <div style="text-align: center;">
                                    <a class="track-btn" href="../../Components/Programming Languages/JavaScript.html">View Track</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h4 style="color: orangered;">Frame Work </h4>

        <section class="container-fluid d-flex" style="height: 600px;">
            <div class="left" style="width: 50%;">
                <br>
                <div class="container d-flex justify-content-center">
                    <div class="justify-content-center">
                        <div class="card col-5 mb-4" style="width: 20rem;">
                            <img src="../../images/laravel back.jpg" class="card-img-top" height="250px">
                            <div class="card-body">
                                <h5 class="card-title">Laravel</h5>
                                <p class="card-text">
                                    Laravel is a free and open-source PHP web framework, created by Taylor Otwell and intended for the development </p>
                                <div style="text-align: center;">
                                    <a class="track-btn" href="https://laravel.com/docs/9.x/installation">Installation Frame</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="left" style="width: 50%;">
                <br>
                <div class="container d-flex justify-content-center">
                    <div class="justify-content-center">
                        <div class="card col-5 mb-4" style="width: 20rem;">
                            <img src="../../images/Django backkk.png" class="card-img-top" height="250px">
                            <div class="card-body">
                                <h5 class="card-title">Django </h5>
                                <p class="card-text">
                                    Django is a Python framework that makes it easier to create web sites using Python. </p>
                                <div style="text-align: center;">
                                    <a class="track-btn" href="https://www.djangoproject.com/download/">Installation Frame</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <h4 style="color: orangered;">DataBase </h4>

        <section class="container-fluid d-flex" style="height: 600px;">
            <div class="left" style="width: 50%;">
                <br>
                <div class="container d-flex justify-content-center">
                    <div class="justify-content-center">
                        <div class="card col-5 mb-4" style="width: 20rem;">
                            <img src="../../images/mysql back.avif" class="card-img-top" height="250px">
                            <div class="card-body">
                                <h5 class="card-title">MySQL
                                </h5>
                                <p class="card-text">
                                    MySQL is an open-source relational database management system (RDBMS).</p>
                                <div style="text-align: center;">
                                    <a class="track-btn" href="https://dev.mysql.com/downloads/installer/">Download </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="left" style="width: 50%;">
                <br>
                <div class="container d-flex justify-content-center">
                    <div class="justify-content-center">
                        <div class="card col-5 mb-4" style="width: 20rem;">
                            <img src="../../images/mongodb back.png" class="card-img-top" height="250px">
                            <div class="card-body">
                                <h5 class="card-title">MongoDB </h5>
                                <p class="card-text">
                                    MongoDB is a source-available cross-platform document-oriented database program. </p>
                                <div style="text-align: center;">
                                    <a class="track-btn" href="https://www.mongodb.com/try/download/community">Download </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>




    <!-- start footer -->
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-white">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fa-solid fa-book-open" style="color: orangered; margin-right: 5px;"></i>Learn How to learn
                        </h6>
                        <p>
                            Online School To Help Beginner Student To Study And Know More About Programming And Some Technologies You Can Find many ways to learn.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Content
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Decomentations</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Links</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Videos</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Books</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="https://www.w3schools.com/" class="text-reset">W3School</a>
                        </p>
                        <p>
                            <a href="https://www.udemy.com/" class="text-reset">Udemy</a>
                        </p>
                        <p>
                            <a href="https://www.coursera.org/" class="text-reset">coursera</a>
                        </p>
                        <p>
                            <a href="https://www.udacity.com/" class="text-reset">udacity</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3 text-secondary"></i> Egypt, Cairo, EG</p>
                        <p>
                            <i class="fas fa-envelope me-3 text-secondary"></i> Learning@gmail.com
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="../../index.html">Learn how to learn</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- end footer -->

    <script src="../../JS/main.js"></script>
    <script src="../../JS/bootstrap.js"></script>
    <script src="../../JS/all.js"></script>
</body>

</html>