<!DOCTYPE html>
<html lang="en">

<head>
    <title>Learn How To Learn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="discription" content="Learning Website">
    <meta name="author" content="Karim, Mazen, Miar, George, Abdellruhman" />
    <meta name="revised" content="Tuesday, December 20th, 2022, 11:15 am" />
    <link rel="stylesheet" href="../../CSS/master.css">
    <!-- Master CSS -->
    <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../../CSS/all.css">
    <!-- Fontawesome library -->
</head>

<body>
    <div class="container-nav">
        <ul>
            <li class="nav-logo"><a href="../../index.html"><i class="fa-solid fa-book-open"
                        style="color: orangered; margin-right: 5px;"></i> Learn how to learn</a></li>
            <li class="nav-list ms-auto"><a href="../../Components/Home.html">Home</a></li>
            <li class="nav-list"><a href="../../Components/About.html">About</a></li>
            <li class="nav-list"><a href="../../Components/Services.html">services</a></li>
            <li class="nav-list"><a href="../../Components/Tracks.html">Tracks</a></li>
            <li class="nav-list"><a href="../../Components/Contact.html">contacts</a></li>
        </ul>
    </div>
    <section class="container-about">
        <h4>cross-platform Development</h4>
    </section>
    <section class="container-fluid">
        <section class="web d-flex mb-5">
            <div class="left" style="width: 60%;">
                <h3 style="color: orangered;">
                    - Cross Platform development ?
                </h3>
                <p class="container-fluid" style="font-size: 18px;">
                    <br> These are frameworks that allow developing total native<br> applications which have access to all the native features<br> of IOS and Android but with the same code base. These apps <br> run on both Android and IOS. So normally
                    the development speeds of<br> these apps are very fast and the maintenance cost is low. <br> The performance speed is comparatively low to 1st party native<br> apps but faster than PWA. Xamarin is Microsoft <br> cross-platform solution
                    that uses the programming languages<br> like .NET, C#, F#. The IDE preferred is Visual Studio.<br> The UI/UX is totally native giving access to all features.<br> This technology is having a wide community. And whenever <br> an update
                    is released by Android and IOS the same updates<br> are released by Microsoft through Visual Studio...

                    <h3 style="color: orangered;">
                        React Native
                    </h3>

                    React Native is Facebook’s cross-platform solution <br> which uses the language JavaScript And the preferred<br> IDE is WebStrome & Visual Studio Code. Same like Xamarin<br> React Native has totally native UI/UX and gives access to
                    <br> all features.And the updates are released the same day by <br> Facebook as Android and IOS.

                    <h3 style="color: orangered;">
                        Flutter
                    </h3>

                    Flutter is Google’s cross-platform solution which uses<br> the language, Dart. The IDE preferred is Android Studio, IntelliJ IDE,<br> and Visual Studio Code. UI/UX is bespoke and Flutters has to come up with <br> their new libraries
                    whenever
                    <br> Android and IOS comes up with an update to mimic <br> those update. The community is fast growing.
                    <br>

                </p>
            </div>
            <div class="right" style="width: 40%; background-image: url(../../images/crp.jpeg); background-repeat: no-repeat; background-size: contain;">
            </div>
        </section>
        <section class="container-fluid d-flex" style="height: 600px;">
            <div class="left" style="width: 50%;">
                <h4 style="color: orangered;">Flutter</h4>
                <p>
                    Flutter is Google’s cross-platform solution which <br>uses the language, Dart.
                </p>
                <div class="container d-flex justify-content-center">
                    <div class="justify-content-center">
                        <div class="card col-5 mb-4" style="width: 20rem;">
                            <img src="../../images/flutter.jpg" class="card-img-top" height="250px">
                            <div class="card-body">
                                <h5 class="card-title">Flutter</h5>
                                <p class="card-text">
                                    We will provide you with the best courses in educational platforms.</p>
                                <div style="text-align: center;">
                                    <a class="track-btn" href="../../Components/Programming Languages/Flutter.html">View Track</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right" style="width: 50%;">
                <h4 style="color: orangered;">
                    React Native
                </h4>
                <p>
                    React Native is Facebook’s cross-platform solution which<br> uses the language JavaScript
                </p>
                <div class="container d-flex justify-content-center">
                    <div class="justify-content-center">
                        <div class="card col-5 mb-4 " style="width: 20rem;">
                            <img src="../../images/mob2.png" class="card-img-top" height="250px">
                            <div class="card-body">
                                <h5 class="card-title">React Native</Nav>
                                </h5>
                                <p class="card-text">
                                    We will provide you with best books and books in all tracks.</p>
                                <div style="text-align: center;">
                                    <a class="track-btn" href="../../Components/Programming Languages/React.html">View Track</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>




    <!-- start footer -->
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-white">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fa-solid fa-book-open" style="color: orangered; margin-right: 5px;"></i>Learn How to learn
                        </h6>
                        <p>
                            Online School To Help Beginner Student To Study And Know More About Programming And Some Technologies You Can Find many ways to learn.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Content
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Decomentations</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Links</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Videos</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Books</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="https://www.w3schools.com/" class="text-reset">W3School</a>
                        </p>
                        <p>
                            <a href="https://www.udemy.com/" class="text-reset">Udemy</a>
                        </p>
                        <p>
                            <a href="https://www.coursera.org/" class="text-reset">coursera</a>
                        </p>
                        <p>
                            <a href="https://www.udacity.com/" class="text-reset">udacity</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3 text-secondary"></i> Egypt, Cairo, EG</p>
                        <p>
                            <i class="fas fa-envelope me-3 text-secondary"></i> Learning@gmail.com
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="../../index.html">Learn how to learn</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- end footer -->

    <script src="../../JS/main.js"></script>
    <script src="../../JS/bootstrap.js"></script>
    <script src="../../JS/all.js"></script>
</body>

</html>